Source: gurubins
Section: python
Priority: optional
Maintainer: Anton Berezin <gurunars@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5


Package: gurubins
Architecture: all
Depends: ${misc:Depends}
Description: Install local packages and their deps
